.App {
  text-align: center;
}

.cabecalho {
  width: 100%; 
  height: 100%; 
  background: #2D0C5E
}

.cabecalho h2 {
  color: white;
font-size: 48px;
font-weight: 700;
line-height: 56px;
word-wrap: break-word
}

.itens {
  padding: 67px;
  margin-top: -20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cabecalho p {
  color: #ffff;
  font-size: 10px;
  font-weight: bold;
}

.cabecalho button {
  margin: 2px;
  border: none;
  font-weight: bold;
  background-color: white;
  color: #200f00;
  width: auto;
  height: 37px;
  border-radius: 7px;
}

.filmes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.conteudo-filme {
  width: 270px;
}

.conteudo-filme img {
  margin-top: 11px;
  width: 201px;
  height: 276px;
  border-radius: 4px; 
  border: 1px #E7E7E7 solid;
}

.logo {
  height: 40px;
  padding: 15px 5px 0 52px;
  text-align-last: left;
  background-color: #5C16C5;
}

.imagemDetalhes {
  display: flex; 
  background-color: #2D0C5E;
  color: white;
  height: 560px;
}

.imagemDetalhes img {
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 122px;
  width: 383px;
  height: 547px;
}

.imagemDetalhes h3 {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px; 
}

.imagemDetalhes p {
  text-align: left;
  margin-left: 20px;
  width: 58rem;
}

.imagemDetalhes h4 {
  margin-top: 35px;
  text-align: left;
  margin-left: 20px; 
}

.conteudoDetalhes {
  margin-left: 123px;
  margin-top: 50px;
  text-align: left;
}

.recomendacoes img {
  display: block;
  overflow: hidden;
  width: 20%;
  height: 20%;
}

.recomendacoes {
  margin-right: -12px;
  text-align: left;
  display: inline-block;
}

.recomendacoes h5, p {
  margin-left: 15px;
}

.recomendacoes-container img {
  border-radius: 5px;
  width: 235px;
  height: 403px;
  margin: 0 0 0 10px;
}

.recomendacoes-container {
  margin-bottom: 150px;
  margin-left: -11px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
}

.recomendacoes {
  margin-right: 20px; 
}

.rating-duration {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating-duration p {
  margin-right: 20px;
}

.genre {
  margin-right: 762px;
  margin-left: 102px;
}

.classificacao {
font-size: 16px;
font-weight: bold;
line-height: 38px;
word-wrap: break-word
}

.duracao {
  margin-top: -18px;
  margin-left: 16%;
}

.container-elenco {
  margin-top: 10px;
  margin-left: -16px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
}

.container-elenco img {
  border-radius: 5px;
  width: 242px;
  height: 360px;
  margin: 0 0 0 10px;
}

.container-elenco h4, p {
  margin-left: 15px;
}

.circle-wrap {
  /* margin: 50px auto; */
  width: 82px;
  height: 82px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 84px;
  height: 84px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 93px, 117px, 54px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00ff2a;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  color: #00ff2a;
  background: #352055;
  line-height: 80px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 20px;
}

.avaliacao {
  padding: 0 0 0 74px;
  margin-top: -57px;
  /* margin-left: 106px; */
}

.recomendacoes-container {
  text-decoration: none;
  color: #000;
}

.box {
  position: absolute;
  top: 50%;
  left: 27.5%;
  text-transform: (-50%, -50%);
  /* background: rgba(0, 0, 0, 0.288); */
  border-radius: 5px;
  padding: 15px;
}

.box-circle svg {
  width: 93px;
  height: 93px;
  position: relative;
}

  circle {
  width: 150px;
  height: 150px;
  fill: rgb(49 64 82 / 29%);
  stroke: #000;
  stroke-width: 7;
  transform: translate(5px, 5px);
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  /* stroke-dashoffsets: "252"; */
}

circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: #167ac633;
}

circle:nth-child(2){
  stroke: #3bee2b;
  transition: stroke-deshoffset 0.8s;
}

.number {
  position: absolute;
  top: 0;
  left: 37px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  color: #3bee2b;
}