/* Estilos que se aplicam a todas as telas */
.App {
  text-align: center;
}

.cabecalho {
  width: 100%;
  height: 100%;
  background: #2d0c5e;
}

.cabecalho h2 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  word-wrap: break-word;
}

.itens {
  padding: 67px;
  margin-top: -20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cabecalho p {
  color: #ffff;
  font-size: 10px;
  font-weight: bold;
}

.botaoGenero {
  margin: 2px;
  border: none;
  font-weight: bold;
  color: #200f00;
  width: auto;
  height: 37px;
  border-radius: 7px;
}

.titulo {
  text-align: center;
  width: 55%;
  margin: 0 0 0 21%;
}

.button {
  width: 45%;
  margin: 0 0 0 27%;
  text-align: center;
}

.limparId {
  font-size: 10px;
  border-radius: 50%;
  margin-left: 6px;
  padding: 2px 4px;
  background-color: #fff;
  color: #d18000;
}

.filmes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.descricaoImagem {
  text-align: left;
  margin: 0 0 0 8%;
}

.descricaoImagem h5 {
  font-size: 80%;
  font-weight: bold;
  line-height: 20px;
  word-wrap: break-word;
}

.conteudo-filme {
  width: 270px;
}

.conteudo-filme img {
  margin-top: 11px;
  width: 201px;
  height: 276px;
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
}

.active {
  background-color: #d18000;
}

/* Estilos para telas menores (por exemplo, telas menores que 1037px de largura) */
@media (max-width: 1072px) {
  .titulo {
    width: 100%;
    margin: 0;
  }

  .itens p {
    font-size: 80%;
  }

  .button {
    width: 75%;
    margin: 0 0 0 13%;
  }
}

@media (max-width: 860px) {
  .titulo {
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .itens p {
    font-size: 80%;
  }

  .button {
    width: 67%;
    margin: 0 0 0 15%;
  }
}

@media (max-width: 780px) {
  .cabecalho h2 {
    text-align: left;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .cabecalho h2 {
    text-align: left;
    font-size: 195%;
    width: 105%;
    margin: 0;
  }

  .button {
    width: 102%;
    margin: 0;
  }
}

/* DETALHES */

.descricaoSubtitulo {
  display: flex;
  /* color: powderblue; */
  margin-left: 18px;
  margin-top: 34px;

  .duracao {
    margin: 0 0 0 2px;
    padding: 0 4px 0 0;
  }

  .duracao p {
    margin: 15px 0 0 0;
  }
  
  .data {
    margin: 0 0 0 2px;
    padding: 0 4px 0 0;
  }

  .genre {
    padding: 15px 2px 0 2px;
  }
}

.avaliacao {
  margin: -10px 0 0 0;
  /* color: pink; */
  
  .sinopse {
    width: 559px;
  }
  
  .avaliacaoNome {
    margin-top: 42px;
    margin-left: 121px;
  }
}

.box {
  position: absolute;
  top: 206px;
  text-transform: (-50%, -50%);
  border-radius: 5px;
  padding: 15px;
}

.box-circle svg {
  width: 93px;
  height: 93px;
  position: relative;
}

circle {
  width: 150px;
  height: 150px;
  fill: rgb(49 64 82 / 29%);
  stroke: #000;
  stroke-width: 6;
  transform: translate(5px, 5px);
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #167ac633;
}

circle:nth-child(2) {
  stroke: #3bee2b;
  transition: stroke-deshoffset 0.8s;
}

.number {
  position: absolute;
  top: 0;
  left: 47px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  color: #3bee2b;
}

.logo {
  height: 40px;
  padding: 15px 5px 0 52px;
  text-align-last: left;
  background-color: #5c16c5;
}

.imagemDetalhes {
  display: flex;
  background-color: #2d0c5e;
  color: white;
  height: 740px;
}

.imagemDetalhes img {
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 122px;
  width: 453px;
  height: 733px;
}

.imagemDetalhes h3 {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}

.imagemDetalhes p {
  text-align: left;
  /* margin-left: 20px; */
  /* width: 58rem; */
}

.imagemDetalhes h4 {
  margin-top: 56px;
  text-align: left;
  margin-left: 20px;
}

.roteiristas {
  margin-top: 20px;
}

.roteirista-container {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.roteirista-container h5 {
  font-size: 16px;
  margin: 0 9px;
}

.roteirista-container p {
  font-size: 13px;
}

.recomendacoes {
  margin-right: -12px;
  text-align: left;
  display: inline-block;
}

.recomendacoes img {
  display: block;
  overflow: hidden;
  width: 20%;
  height: 20%;
}

.recomendacoes h5,
p {
  text-decoration: none;
  margin-left: 15px;
}

.recomendacoes-container img {
  border-radius: 5px;
  width: 235px;
  height: 403px;
  margin: 0 0 0 10px;
}

.recomendacoes-container {
  margin-bottom: 150px;
  margin-left: -11px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.recomendacoes {
  margin-right: 20px;
}

.recomendacoes h5 {
  color: black;
}

.recomendacoes p {
  color: black;
}

.conteudoDetalhes {
  margin-left: 123px;
  margin-top: 67px;
  text-align: left;
}

.container-elenco {
  margin-top: 10px;
  margin-left: -16px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.container-elenco img {
  border-radius: 5px;
  width: 242px;
  height: 360px;
  margin: 0 0 0 10px;
}

.container-elenco h4,
p {
  margin-left: 15px;
}

@media (max-width: 1144px) {
  .imagemDetalhes{
    width: 100%;
  }
  .imagemDetalhes img {
    margin-left: 5%;
    width: 50%;
    height: 98%;
  }

  .imagemDetalhes h3 {
    text-align: left;
    font-size: 147%;
    margin-top: 15%;
  }

  .imagemDetalhes h4 {
    margin: 7% 0 -3% 4%;
  }

  .descricaoSubtitulo {
    margin-top: -6%;
    font-size: 127%;
    display: flex;
  }

  .descricaoSubtitulo .data {
   height: 0.9px;
   margin: -1% 0 0 0;
   padding: 0 0.6% 0 0; 
  }

  .avaliacao {
    margin: -1% 0 0 0;
    font-size: 120%;
  }

  .box {
    top: 16%;
    position: absolute;
    padding: 2%;
  }

  .avaliacaoNome {
    margin-top: 5px;
  }

  .avaliacao .sinopse {
    width: 95%;
  }

  .conteudoDetalhes {
    margin-left: 5%;
    margin-top: 8%;
  }

  .recomendacoes h5 {
    color: black;
    font-size: 105%;
    margin: 5% 0 5% 6%;
  }

  .recomendacoes p {
    color: black;
  }

  .roteiristas {
    margin-top: 20px;
  }
  
  .roteirista-container {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  
  .roteirista-container h5 {
    font-size: 16px;
    margin: 0 9px;
  }
  
  .roteirista-container p {
    font-size: 13px;
  }
}

@media (max-width: 798px) {
  
  .logo {
    /* width: 91%; */
  }

  /* .imagem {
    margin-left: 23%;
    width: 70%;
    height: 90%;
  } */

  .imagemDetalhes{
    width: 100%;
    height: 50%;
  }

  .imagemDetalhes img {
    margin-left: 16%;
    width: 70%;
    height: 90%;
  }

  .imagemDetalhes h3 {
    width: 104%;
    text-align: left;
    font-size: 118%;
    margin-top: 171%;
    margin-left: -92%;
  }

  .imagemDetalhes h4 {
    margin: 16% 0 -3% 2%;
  }

  .imagemDetalhes .heade-info p {
    width: 50%;
  }

  .descricaoSubtitulo {
    margin-top: -6%;
    font-size: 122%;
    margin-left: -112%;
    display: flex;
  }

  .descricaoSubtitulo .data {
    color: white;
    font-size: 106%;
    font-weight: bold;
    height: 3.6%;
    margin: -0.5% 0 0 4%;
    padding: 0 0.6% 0 0;
  }

  .descricaoSubtitulo .duracao {
    color: white;
    font-size: 106%;
    font-weight: bold;
    margin: 5.5% 0 0 0;
    margin-left: -46%;
  }

  .descricaoSubtitulo .genre {
    width: 46%;
    color: white;
    font-size: 106%;
    font-weight: bold;
    margin: 10.5% 0 0 0;
    margin-left: -20%;
  }

  .avaliacao {
    margin: 47% 0 0 0;
    margin-left: -109%;
    font-size: 100%;
  }

  .avaliacao .avaliacaoNome {
    margin: -17% 0 0 24%;
    font-size: 134%;
  }

  .avaliacao .sinopse {
    width: 55%;
    margin-left: 2%;
    font-size: 109%;
  }

  .box {
    top: 87%;
    position: relative;
    margin-left: 4%;
  }

  .number {
    margin-top: -7%;
    margin-left: -0%;
    font-size: 120%;
  }

  .box-circle svg {
    margin-top: -15%;
    margin-left: -81%;
  }

  .numberProgress {

  }

  .conteudoDetalhes {
    width: 112%;
    margin-left: 5%;
    margin-top: 8%;
  }

  .conteudoDetalhes h2 {
    font-size: 169%;
  }

  .conteudoDetalhes h4 {
    font-size: 115%;
  }

  .conteudoDetalhes p {
    font-size: 122%;
  }

  .trailer iframe {
    width: 81%;
    height: 10%;
  }

  .recomendacoes {
    margin-right: 2%;
    text-align: left;
    display: inline-block;
  }

  .recomendacoes-container {
    width: 86%;
    margin-bottom: 150px;
    margin-left: -11px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .recomendacoes h5 {
    color: black;
    font-size: 115%;
    margin: 5% 0 5% 6%;
  }

  .recomendacoes p {
    color: black;
    font-size: 115%;
    margin: 5% 0 5% 6%;
  }

  .roteirista-container {
    font-size: 65%;
    width: 59%;
    margin-left: 3%;
    margin-bottom: 4%;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  
  .roteirista-container h5 {
    font-size: 90%;
    margin: 0 9px;
  }
  
  .roteirista-container p {
    font-size: 86%;
  }

  .container-elenco {
    width: 85%;
    margin-top: -10px;
    margin-left: -8px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}